<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Chat</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div id="app">
    <div class="chat">
    <div class="name">Your name : <input type="text" class="name__input" value="{{name}}" v-model="name"></div>
      <h3 class="chat__title">CHAT VUE 
        <span class="chat__delete" @click="clearChat">clear</span>
        <span class="chat__get" @click="getChat">get</span>
      </h3>
      <ul class="chat__list" id="list">
        <li class="chat__el" v-for="item in chat">
          <div class="chat__name">{{item.name}} :</div>
          <div class="chat__time">{{item.time}}</div>
          <div class="chat__message">{{item.message}}</div>
        </li>
      </ul>
      <input type="text" class="chat__mess" placeholder="enter your message" v-model="val"  @keyup.enter="add">
      <button class="chat__button" @click="add">send</button>
    </div>

  </div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
var app = new Vue({
  el: '#app',
  data() {
    return {
      val: '',
      name: 'Guest',
      chat: [],
      info: []
    };
  },
  created: function () {

  },
  mounted(){
    axios
      .get('api')
      .then(response => (this.chat = response.data))

    this.name = localStorage['nameChat'] || 'Guest';
    this.getHeightChat();
  },
  watch: {
    chat: function(val){
      this.message = val;
    },
    name: function(val){
      localStorage.setItem('nameChat', val);
    }
  },
  methods: {
    add: function(){
      if(this.val.length < 1){
        return false;
      }else{
        this.chat.push({name: this.name, message: this.val, time: new Date().toLocaleString().split(',').splice(1,1).join()});
        this.val = '';
        this.getHeightChat();      
      }
      axios.post('save.php', JSON.stringify(this.chat))
    },
    clearChat: function(){
      this.chat = [];
      axios.post('save.php', JSON.stringify(this.chat))
      this.getHeightChat();
    },
    getChat: function(){
      location = location.href;
    },
    getHeightChat: function(){
      setTimeout(function(){
        document.getElementById('list').scrollTop  = 99999999;
      },50);
    }
  }
})  
</script>
</body>
</html>